 <div class="AVF">
 <nav class="row text-center" class="partialNav">
        <div class="small-3 large-2 columns">
            <p id="logo">Bulletin</p>
        </div>

        <div class="small-3 large-1 large-offset-7 column">
              <p id="logIn"><a data-open="logInModal" id="modalButton">Log In</a></p>
        </div>

        <div class="small-4 large-2 column">
            <p class="signUp">New?</p>
            <a href="#/SignUp"><p class="signUp"> Sign Up</p></a>
        </div>
</nav>

<div class="background" id="grad">
        <div class="row text-center" id="HomePageContent">
          <h1>Welcome to <span id="logoSpan">Bulletin</span></h2>
        </div>

        <div class="row text-center">
          <div class="medium-6 columns">
           <div class="grayBox" id="searchHomeBox">
                  <h2> <a href="#/Search">SEARCH</a></h2>
                  <i class="fa fa-search fa-5x" aria-hidden="true"></i>
            </div>
          </div>

          <div class="medium-6 columns">
            <div class="grayBox" id="createHomeBox">
                  <h2><a href="#/CreateProject">CREATE</a></h2>
                  <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
            </div>
          </div>
        </div> 
</div>


<div id="logInModal" class="reveal" data-reveal>
        <h3>LOG IN</h3>
        <form action="http://localhost:4000/api/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <input class = "button" type="submit">Login</button>
        </form>
</div>

</div>
