<div ng-controller='SignUpController' id="RCbackground" style="height: 4000px;">
	<h1 id="RC_h1">SIGN UP</h1>
	
	<div id="RC_imageUpload-bg" onclick="closeModal('#RC_imageUpload')" class="RC_modal-bg" style="display: none;"></div>
	<div id="RC_imageUpload" class="RC_modal" style="display: none;">
		<form ng-submit="saveImage()">
			<a onclick="closeModal('#RC_imageUpload')" class="RC_close-modal">&#10005;</a>
			
			Image URL
			<input type="url" name="imageURL"/>
		</form>
	</div>
	
	<form id="RC_signUp">
		<div id="RC_signUpImage" style="display: none;">
			<i class="fa fa-search fa-3x"></i>
			<img onclick="openModal('#RC_imageUpload')" src="./data/images/profile.jpg"/>
		</div>

		<h6 class="RC-h6">NAME</h6>
		<input type="text" ng-model = "newuser.name"class = "form-control" name="name" required/>
		<h6 class="RC-h6">EMAIL</h6>
		<input type="email" ng-model = "newuser.email"class = "form-control" name="email" required/>
		<h6 class="RC-h6">PASSWORD</h6>
		<input type="password" ng-model = "newuser.password" class = "form-control" name="password" required/>
		<h6 class="RC-h6">CONFIRM PASSWORD</h6>
		<input type="password" name="password2" required/>

		<div id="RC_signUpButtons">
			<a class="alert button" href="#/HomePage">Cancel</a>
			<input type="submit" ng-click="createAccount()" class="button" value="Submit"/>
		</div>
	</form>
</div>